@import '_variables';
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,700&family=Source+Sans+Pro:ital,wght@0,200;0,400;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');


.dashboardContainer {
  background-color: transparentize($color-background-light,0.5);
  font-family: 'Montserrat', sans-serif;
  display: flex;  
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 98vw;
  height: 98vh;
}

.welcome {
  margin-left: 1.5vw;
  margin-bottom: 1.5vw;
  border-radius: $border-radius;
  font-family: 'Permanent Marker', cursive;
  background-color: transparentize(white, 0.5);
  color: $color-background-dark;
  font-size: $title-font-size;
  line-height: $title-line-height;
  padding: $box-padding;
  min-width: 20vw;
  height: 22vh;
  display: flex ;    
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.buttonStats {
  background-color: $color-background-light;
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  border-radius: $border-radius;
  padding: 8px;
  border: 0px;
  &:hover {
    background-color: transparentize(white, 0.2);
    color: $color-accent;
  }
}

.singlePost {
  background: white;
  border: none;
  border: 15;
  
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
}

#postScroll {
  display: flex;    
  flex-direction: column;
  justify-content: space-between;
}

.postAnalysis {
  margin-left: 1.5vw;
  margin-right: 1.5vw;
  margin-bottom: 1.5vw;
  padding-left: 20px;
  padding-right: 30px;
  border-radius: $border-radius;
  background-color: transparentize(white, 0.5);
  font-size: 18px;
  max-width: 30vw;
  height: 90vh;
  display: flex ;    
  flex-direction: column;
  justify-content: flex-end;
}

.postContainer {
  background-color: white;
  padding: 10px;
  max-width: 40vw;
  height: 90vh;
  display: flex ;    
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  overflow: auto;
  margin-bottom: 1.5vw;
  border-radius: 9px;
  
}

.ListPostContainer{
  background-color: transparentize($color-background-light,0.5);
  border-radius: 9px;
}

.css-1pqm26d-MuiAvatar-img{
  border-radius: 5px;
}

.postContainer::-webkit-scrollbar{
  width: 0;
}      