@import '_variables';
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,700&family=Source+Sans+Pro:ital,wght@0,200;0,400;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

.modal-main {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0%;
  top: 0%;
  width: 96vw;
  height: 96vh;
  overflow: auto; /* Enable scroll if needed */
  background-color: #F0F0F0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 5vh;
  padding: 2%;
  // align-self: center;
  // justify-self: center
}


.modalLeft {
  display: flex;
  padding: $box-padding;
  flex-direction: column;
  justify-content: space-between;
  width: 30vw;
  height: 90vh;
}

.modalLeftTitle {
  border-radius: $border-radius;
  font-family: 'Permanent Marker', cursive;
  color: $color-background;
  font-size: 50px !important;
  white-space: nowrap;
  line-height: $title-line-height;
  padding-top: $box-padding;
}

.statsSummaryText {
  text-indent: 0px;
  font-family: 'Permanent Marker', cursive;
  font-size: 25px;
  color: $color-background;
  line-height: 28px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-justify: inter-character !important;
  margin-bottom: 60px;
}

.summaryScore{
  font-family: 'Permanent Marker', cursive;
  color: $color-background;
  white-space: nowrap;
  font-size: 30px;
  max-width: 20vw;
  height: 60vh;
  text-justify: right;
} 

.modalCenter {
  padding-top: 30px;
  border-radius: $border-radius;
  display: flex;
  padding: $box-padding;
  flex-direction: column;
  justify-content: flex-start;
  width: 20%;
  height: 60vh;
  margin-bottom: 60px;
  font-size: 12px;
  overflow-y: scroll;
}

.modalCenter::-webkit-scrollbar{
  width: 0;
}  


.selectedImage {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: inherit;
  margin-bottom: 40px;
  font-size: 12px;
}


.modalRight {
  padding-top: 30px;
  border-radius: $border-radius;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  padding: $box-padding;
  flex-direction: column;
  justify-content: flex-end;
  width: 50vw;
  height: 60vh;
  margin-bottom: 60px;
}

#bar {
  font-family: 'Montserrat' !important;
}

#closeModal {
  font-family: 'Montserrat', sans-serif;
  color: gray;
  width: 10px;
  height: 10px;
  margin-right: 3px;
  margin-bottom: 40px;
  align-self: flex-end;
  background-color: transparent; 
  border: none;
}
