@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,700&family=Source+Sans+Pro:ital,wght@0,200;0,400;1,200&display=swap');

$title-font: 'Playfair Display', serif;
$title-font-size: 25px;
$title-line-height: 30px;
$little-font: 'Source Sans Pro', sans-serif;

$box-padding: 2vw;

$color-background: #778899;
$color-background-light: lighten($color-background, 22);
$color-background-dark: darken($color-background, 22);

$color-accent: #92acb4;
$color-background-light: lighten($color-accent, 22);

$color-complement: #FCD667;
$color-complement-light: lighten($color-complement, 10);

$border-radius: 9px;
